Repository skfd/bikeshare-toronto-maproulette, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, source-code, tests, github-actions, dependencies, logging, services, configuration, data-files, docker

vibecode: documentation for cicd
  .github/WORKFLOW_README.md
  docs/CICD_OPERATIONS_GUIDE.md
  docs/CICD_QUICK_START.md
Labels: documentation

bike share toronto, bixi data update
  src/data_results/Bike Share Toronto/bikeshare.geojson
  src/data_results/Bike Share Toronto/bikeshare_osm.geojson
  src/data_results/Bixi/bikeshare.geojson
  src/data_results/Bixi/bikeshare_osm.geojson
Labels: data-files

data update for canada
  src/data_results/Bike Share Toronto/bikeshare.geojson
  src/data_results/Bike Share Toronto/bikeshare_osm.geojson
  src/data_results/Bixi/bikeshare.geojson
  src/data_results/Bixi/bikeshare_osm.geojson
  src/data_results/àVélo/bikeshare.geojson
Labels: data-files

fix tests
  .claude/settings.local.json
  src/FileManager.cs
  src/OSMDataFetcher.cs
  src/prepareBikeParking.csproj
  tests/data_results/TestWayBatch/bikeshare_osm.geojson
Labels: source-code, dependencies, data-files

duplicate detection feature
  tests/data_results/TestAutoGenIds/bikeshare_osm.geojson
  tests/data_results/TestDuplicates/bikeshare_osm.geojson
  tests/data_results/TestDuplicates/bikeshare_osm_duplicates.geojson
  tests/data_results/TestNoDuplicates/bikeshare_osm.geojson
Labels: data-files

docs on duplicate detection
  .claude/settings.local.json
  CLAUDE.md
  DEV_README.md
  README.md
  src/GeoJsonGenerator.cs
  src/OSMDataFetcher.cs
  tests/OSMDataFetcherTests.cs
Labels: documentation, source-code, tests

.github/labeler.yml:

# Configuration for PR labeler action
# Automatically adds labels based on file paths changed

documentation:
  - '**/*.md'
  - 'docs/**/*'

source-code:
  - 'src/**/*.cs'
  - 'src/**/*.csproj'

tests:
  - 'tests/**/*.cs'
  - 'tests/**/*.csproj'

github-actions:
  - '.github/workflows/**'
  - '.github/*.yml'

dependencies:
  - '**/packages.config'
  - '**/*.csproj'
  - '.github/dependabot.yml'

logging:
  - 'src/Logging/**'

services:
  - 'src/Services/**'
  - 'src/ServicesImpl/**'

configuration:
  - '**/appsettings*.json'
  - '**/*.config'
  - '**/bikeshare_systems.json'

data-files:
  - 'data_results/**'
  - '**/*.geojson'
  - '**/*.overpass'

docker:
  - 'Dockerfile'
  - 'docker-compose*.yml'
  - '.dockerignore'
